body, .info-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style-type: none;
    padding: 0px;
    display: flex;
  }

a {
    text-decoration: none;
}

.top-bar, .main-content, .footer {
    display: flex;
    align-items: center;
}

.list-elements {
    display: flex;
}

.quote-area {
    display: flex;
    flex-direction: column;
}

